<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo</title>
  <link rel="stylesheet" href="estilos-curriculo.css">
</head>
<body>

<div class="container">

  <header>
    <img class="foto" src="1771514249175.png" alt="Minha foto">
    <div>
      <h1>William da Silva Matsunaga</h1>
      <p>22 anos • Ji-Paraná - RO</p>
      <p>📞 (69) 99994-2754</p>
      <p>✉️ williamsilvamatsunaga@outlook.com</p>
    </div>
  </header>

  <section>
    <h2>Resumo Profissional</h2>
    <p>
      Atualmente, trabalho como Auxiliar de Projetos, atuando no desenho, levantamento e documentação de redes de telecomunicações. Possuo experiência com atendimento ao público, organização de processos e desenvolvimento de soluções técnicas, com foco em eficiência e qualidade.
    </p>
  </section>

  <section>
    <h2>Experiência Profissional</h2>

    <div class="card">
      <h3>Assistente de Projetos - Uni Internet</h3>
      <span class="periodo">08/2025 até o momento</span>
      <ul>
        <li>Apoio em projetos de infraestrutura de redes e telecomunicações.</li>
        <li>Documentação técnica de redes (topologia, fibra, CTOs e POPs).</li>
        <li>Controle de relatórios técnicos e indicadores.</li>
        <li>Integração técnica entre equipes.</li>
      </ul>
    </div>

    <div class="card">
      <h3>Frentista - Posto Perfil Patrão 17</h3>
      <span class="periodo">01/2022 até 09/2025</span>
      <ul>
        <li>Atendimento ao cliente com foco em satisfação.</li>
        <li>Operação de sistemas de caixa.</li>
        <li>Organização e manutenção do ambiente.</li>
        <li>Controle de estoque e reposição.</li>
      </ul>
    </div>

  </section>

  <section class="grid">
    <div>
      <h2>Formação</h2>
      <p><strong>Análise e Desenvolvimento de Sistemas</strong><br>
      IFRO - Ji-Paraná<br>
      Conclusão: 2026</p>
    </div>

    <div>
      <h2>Cursos</h2>
      <ul>
        <li>Projetos FTTH 3.0 - Fiberscholl (2026)</li>
        <li>Redes de Computadores - Curso em Vídeo (2025)</li>
        <li>Montagem e Manutenção - IFRO (2023)</li>
      </ul>
    </div>
  </section>

  <section>
    <h2>Habilidades</h2>
    <div class="skills">
      <span>Comunicação</span>
      <span>Trabalho em equipe</span>
      <span>Organização</span>
      <span>Proatividade</span>
      <span>Resolução de problemas</span>
      <span>Gestão do tempo</span>
      <span>Foco em resultados</span>
      <span>Responsabilidade</span>
    </div>
  </section>

 

</div>

</body>
</html>