<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="">
            <label for="user">Usuário</label>
            <input type="text" name="user" id="user">
            
        </form>
    </div>
</body>
</html>